.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px;
}

.header__info {
  display: flex;
  gap: 32px;
}

.header__info-item {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

.header__nav {
  display: flex;
  gap: 32px;
}

.nav {
}

.header__nav-item {
}