:root {
  --text-c:#212529;
  --secondary-c: #FF0000;
  --accent-c:#FF5004;
  --background-c:#FDFDFD;
}

body {
  background-color: var(--background-c);
}

main {
  display: flex;
  flex-direction: column;
  background: url(../img/festival.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: right;
  background-size:contain ;
}

.container {
  max-width:1460px;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: "Antonio", sans-serif;
  line-height:100%;
  color: var(--text-c);
  scroll-behavior: smooth;
  letter-spacing: -4%;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 140px;
}

h2 {
  font-weight: 600;
  font-size: 50px;
}

h3 {
  font-weight: 600;
  font-size: 36px;
  color: inherit;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  color: var(--accent-c);
}

p {
  font-weight: 600;
  font-size: 20px;
  color: var(--accent-c);
}

span {
  font-weight: 600;
  font-size: 12px;
}

a{
  font-weight: 600;
  font-size: 20px;
}

hr {
  width: 1px;
  height: 80px;
  background-color: #000000;
  opacity: 20%;
}

.ui-button {
  color: var(--background-c);
  padding: 16px 27px;
  display: flex;
  gap: 86px;
  max-width: max-content;
  align-items: center;
}

.ui-button--primary { 
  background-color: var(--accent-c);
}

.ui-button--secondary {
  background-color: var(--text-c);
}

.ui-button--small {
  gap: 48px;
  font-size: 20px;
}